*{
	margin:0;
	padding:0;
}
li{
	list-style:none;
}
.aa{
	width:1500px;
	height:500px;
	margin:0 auto;
	
}
.box{
	background-color:whitesmoke;
}
.a{
	height:60px;
	border-bottom:1px solid #e3e3e3; 
}
.a h2{
	width: 200px;
	height: 15px;
	line-height: 23px;
	margin: 30px auto 21px;
}
.a h3{
	position: relative;
	width: 80px;
	height: 20px;
	line-height: 20px;
	color: #008bd8;
	margin:0 auto;
}
.a span{
	position: absolute;
	display: block;
	height: 3px;
	width: 36px;
	bottom: -5px;
	left: 55%;
	margin-left:-25px;
	background-color:orange;
}
.b li{
	display: inline-block;
	height: 350px;
	width: 198px;
	margin-right: 45px;
	margin-left: 50px;
}
.b img{
	float: left;
	margin: 60px auto 70px;
	width: 155px;
	margin-left: 30px;
	border-radius: 50%;
	border: 20px solid white;
}
.b h3{
	margin-left: 10px;
	margin-bottom: 20px;
}
.b span{
	display: inline-block;
	font-size: 11px;
	color: #999999;
	padding-bottom: 32px;
	margin-left: 15px;
}
.cc{
	background-color: #1d2a32;
}
.c{
	height: 500px;
}
.d{
	height: 110px;
	border-bottom: 1px solid #e3e3e3;
}
.d h2{
	color: #FFFFFF;
	width: 277px;
	height: 23px;
	line-height: 23px;
	margin: 41px auto 22px;
	padding-top: 41px;
	
}
.d h3{
	position: relative;
	width: 90px;
	height: 30px;
	line-height: 20px;
	color: #FFFFFF;
	margin:0 auto;
}
.d span{
	position: absolute;
	display: block;
	height: 3px;
	width: 40px;
	bottom: 5px;
	left: 48%;
	margin-left:-25px;
	background-color:orange;
}
.e .f{
	float: left;
	margin: 38px 44px 50px 150px;
}
.e .g{
	float: left;
	width: 609px;
	height: 363px;
}
.g h3{	
	display: inline-block;
	margin-top: 30px;
	color: #FFFFFF;
}
.g p{
	display: inline-block;
	margin-top:15px;
	color: #FFF;
	font-size: 14px;
	height: 66px;
	line-height: 33px;
}
.xx{
	display: inline-block;
	margin-top:10px;
	margin-right:50px;
	width: 100px;
	height: 30px;
	background-color: orange;
	color: white;
}
