*{
    margin: 0px;
    padding: 0px;
}
.menu{
background-color: antiquewhite;
}
.img1{

}
ul{/*设置导航栏的框框*/
    margin: 0px 10px;/*框框整体的位置，30px是指离网页的顶部和下部的距离，auto控制的是左右距离为自动调节*/

    padding: 0px;/*将框框的padding设置为零，不然会导致框框里的内容与框边缘有间隔*/

}
li{
    list-style-type: none;/* 去掉li前的点 */
    float: left;/*将li设置成做浮动，变为联动*/
}
a{
    display: block;/*将a变成块状*/
    width: 100px;/*设置块的宽度*/
    height: 50px;/*设置块的长度*/
    font-family: "微軟正黑體 Light";
    line-height: 50px;/*设置字体在块中的高度*/
    background-color: springgreen;
    margin: 0px 0px;/*块里的高宽通过margin设置*/
    color: black;
    text-align: center;/*字体居中*/
    text-decoration: none;/*去掉下划线*/
    font-size: 15px;
    font-weight:700 ;
}
a:hover{
    background-color: cornflowerblue;
}
.t1{
    border-radius:15px;
    width: 200px;
    height: 25px;
    border: 3px solid gray;
    margin: 9px 18px;
    color:gray ;
    font-family: "微軟正黑體 Light";
    font-weight: 600;

}
.t2{
    border-radius:15px;
    height: 30px;
    border: 3px solid blue;
    background-color: blue;
    font-weight: 600;
    font-family: "微軟正黑體 Light";
    width: 70px;
    color: white;
    margin: 5px auto;
}


